@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  --primary-color: #3E3E3E;
  overflow-x: hidden;

  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.container {
  max-width: 70rem;
  margin: 100px auto;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  height: 60px;
  margin-right: 20px;
}

.nav__logo--text {
  text-transform: uppercase;
}

.nav__menu ul {
  display: flex;
  justify-content: space-between;

  width: 200px;

  list-style: none;
}

.menu__item {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

.menu__item::after {
  content: '';
  height: 3px;
  width: 50%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 10px;
  transition: all .4s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

.menu__item:hover::after {
  transform: scaleX(1);
}


.hero-banner {
  background-image: url('../images/bg-herobanner.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;

  display: flex;
  justify-content: space-between;

  margin: 100px 0;
}


.hero-banner__about {
  background: url('../images/bg-about.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;

  display: flex;
  justify-content: space-between;

  margin: 100px 0;
}

.left {
  padding: 40px;
}

.left__profil {
  height: 200px;
  border-radius: 50%;
}

.right {
  text-align: right;
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 100px;
}

.right p {
  color: rgba(255, 255, 255, .7);
  font-weight: 700;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 100px;
  height: 300px;
  width: fit-content;
  transition: all .6s ease-out;
}

.projects a {
  width: 33rem;
  cursor: pointer;
  position: relative;
}

.projects a img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .4s ease-in-out;
}

.projects a::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.projects a img:hover {
  transform: translate(10px, -10px);
}

.next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 50px;
}

.next__text {
  margin-right: 10px;
  cursor: pointer;
}

.next__arrow {
  cursor: pointer;
}

.projects__link {
  text-align: center;
  margin: 100px 0;
}

footer {
  border-top: 1px solid var(--primary-color);
}

.footer__menu {
  padding: 50px 0;
  width: fit-content;
}

.footer__menu--item {
  list-style: none;
  margin: 15px 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8rem;
}

.bottom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials i:first-child {
  margin-right: 20px;
}


.section__projects {
  margin: 100px 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  margin-top: 50px;
}


.project__item {
  width: 46%;
  min-width: 400px;
  position: relative;
}

.project__item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.project__item a::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.project__item img:hover {
  transform: translate(10px, -10px);
}


.about__text {
  margin-bottom: 100px;
}

.about__text--title {
  margin: 10px 0;
}

.about__text--para {
  margin-bottom: 50px;
}


.arrows {
  position: relative;
  margin-bottom: 200px;
}

.previous {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
}

.previous__arrow {
  transform: rotate(180deg);
  margin-right: 10px;
}

.contact__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.btn__primary {
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  transition: all .4s ease-in-out;
  position: relative;
}

.btn__wrapper {
  border: 1px solid var(--primary-color);
  width: fit-content;
}

.btn__primary:hover {
  transform: translate(10px, -10px);
}


.burger__menu {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  display: none;
}

.burger__menu--line {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-color);
}

.mobile__menu {
  height: 100vh;
  width: 100vw;
  background-color: #fff;

  position: fixed;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 100vw;

  /* transition: margin-left .4s ease-out; */
  display: none;
}

.mobile__menu ul {
  list-style: none;
  text-align: center;
}

.mobile__menu--item {
  margin: 50px 0;
  text-transform: uppercase;
  cursor: pointer;

  font-size: 2rem;
}

.cross {
  height: 50px;
  width: 50px;
  position: absolute;

  top: 100px;
  right: 50px;

  cursor: pointer;
}

.line {
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: #000;
  top: 50%;

  position: absolute;
}

.line:first-child {
  transform: rotate(45deg);
}
.line:nth-child(2) {
  transform: rotate(-45deg);
}



@media screen and (max-width: 1120px) {
  .nav {
    padding: 0 50px;
  }

  .projects {
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .projects a {
    width: 90vw;
    height: 50vw;
  } 

  .arrows {
    display: none;
  }

  .section__title {
    margin-left: 50px;
  }

  footer {
    margin: 0 50px;
  }

  .about__text {
    padding: 0 100px;
  }

  .section__projects h3 {
    padding-left: 50px;
  }
  
}

@media screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }
  .burger__menu {
    display: flex;
  }

  .project__item {
    width: 90%;
    min-width: 0;
  }

  .mobile__menu {
    display: flex;
  }
}

@media screen and (max-width: 565px) {
  .hero-banner {
    flex-direction: column;
  }
  .right {
    padding: 0 0 55px 0;
    text-align: center;
  }
  .left {
    padding: 55px 0 0 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin: 50px auto;
  }

  .hero-banner {
    margin: 50px 0;
  }

  .nav__logo--text {
    font-size: .6rem;
  }
  .nav__logo a img{
    height: 30px;
  }

  .burger__menu {
    width: 30px;
    height: 20px;
  }

  .section__title {
    margin-left: 0;
    text-align: center;
  }

  .footer__menu {
    margin: 0 auto;
  }

  .footer__menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom__footer {
    flex-direction: column;
  }

  .bottom__footer p {
    margin-bottom: 20px;
    text-align: center;
  }

  .about__text {
    padding: 0 30px;
  }

  .cross {
    height: 30px;
    width: 30px;
    top: 50px;
    right: 50px;
  }
}
